body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f4f8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 50px;
}

#dynamic-island-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

.force-wrap {
    word-break: break-all;
    white-space: normal;
}

.phone-icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    position: relative;
}

.phone-icon::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    background-color: white;
    transform: translate(-50%, -50%) rotate(45deg);
}

.phone-icon::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    background-color: white;
    transform: translate(-50%, -50%) rotate(-45deg);
    margin-top: -4px;
}